<a href="https://colab.research.google.com/github/tmckim/materials-fa24-colab/blob/main/lec_demos/lec13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Before you start - Save this notebook!

When you open a new Colab notebook from the WebCampus (like you hopefully did for this one), you cannot save changes. So it's  best to store the Colab notebook in your personal drive `"File > Save a copy in drive..."` **before** you do anything else.

The file will open in a new tab in your web browser, and it is automatically named something like: "**Copy of lec13.ipynb**". You can rename this to just the title of the assignment "**lec13.ipynb**". Make sure you do keep an informative name (like the name of the assignment) so that you know which files to submit back to WebCampus for grading! More instructions on this are at the end of the notebook.


**Where does the notebook get saved in Google Drive?**

By default, the notebook will be copied to a folder called “Colab Notebooks” at the root (home directory) of your Google Drive. If you use this for other courses or personal code notebooks, I recommend creating a folder for this course and then moving the assignments AFTER you have completed them. <br>

I also recommend you give the folder where you save your notebooks^ a different name than the folder we create below that will store the notebook resources you need each time you work through a course notebook. This includes any data files you will need, links to the images that appear in the notebook, and the files associated with the autograder for answer checking.<br>
You should select a name other than '**NS499-DataSci-course-materials**'. <br>
This folder gets overwritten with each assignment you work on in the course, so you should **NOT** store your notebooks in this folder that we use for course materials! <br><br>For example, you could create a folder called 'NS499-**notebooks**' or something along those lines.
___

# Import & Setup

In [ ]:
# Step 1
# Setup and add files needed to access gdrive
from google.colab import drive                                   # these lines mount your gdrive to access the files we import below
drive.mount('/content/gdrive', force_remount=True)

In [2]:
# Step 2
# Change directory to the correct location in gdrive (modified way to do this from before)
import os
os.chdir('/content/gdrive/MyDrive/NS499-DataSci-course-materials/')

In [ ]:
# Step 3
# Remove the files that were previously there- we will replace with all the old + new ones for this assignment
!rm -r materials-fa24-colab

In [ ]:
# Step 4
# These lines clone (copy) all the files you will need from where I store the code+data for the course (github)
# Second part of the code copies the files to this location and folder in your own gdrive
!git clone https://github.com/tmckim/materials-fa24-colab '/content/gdrive/My Drive/NS499-DataSci-course-materials/materials-fa24-colab/'

In [3]:
# Step 5
# Change directory into the folder where the resources for this assignment are stored in gdrive (modified way from before)
os.chdir('/content/gdrive/MyDrive/NS499-DataSci-course-materials/materials-fa24-colab/lec_demos/')

In [4]:
# Import packages and other things needed
# Don't change this cell; Just run this cell
# If you restart colab, make sure to run this cell again after the first ones above^

from datascience import *
import numpy as np
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
plt.rcParams["patch.force_edgecolor"] = True

## Learning Objectives ##


Topics:
- conditional statement review
- `for` loops
- using `apply` for rows
- simulation and using `np.random.choice`

## Conditionals Review ##

Compound boolean expressions:

In [5]:
x = 7
y = 2

In [ ]:
x > 15

In [ ]:
12 < x < 20

In [ ]:
12 < x

In [ ]:
x < 20

In [ ]:
#@title Solution
# 12 < 7 is False
# 7 < 20 is True
# overall expression evaluates to: False

You can separate into 2 statements and use the text `and`
Notice that `and` appears in blue. It is a special and is called a Python Keyword. <br>What this means: <br>
Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers.<br><br>

We've been learning about and using others - more info can be found [here](https://www.w3schools.com/python/python_ref_keywords.asp)

In [ ]:
(12 < x) and (x < 20)

Notice the difference if we write this with an `or` instead of `and`

In [ ]:
(12 < x) or (x < 20)

In [ ]:
#@title Solution
# 12 < 7 is False
# 7 < 20 is True
# overall expression evaluates to: True

In [ ]:
(12 > x) and (x > 5)

In [ ]:
#@title Solution
# 12 > 7 is True
# 7 > 5 is True
# overall expression evaluates to: True

You can also combine arithmetic operations and logical statements.

In [ ]:
10 > x - y < 13

In [ ]:
#@title Solution
# start with the x - y calculation
# 7 - 2 = 5
# 10 > 5 is True
# 5 < 13 is True
# overall expression evaluates to: True

(The comparison `12 < x < 20` is equivalent to `12 < x and x < 20`.)

## Comparisons with arrays

What is the sum of the boolean array below?

In [14]:
an_array = make_array(True, False, False, True, True, False)

In [ ]:
sum(an_array)

[`np.count_nonzero`](https://numpy.org/doc/stable/reference/generated/numpy.count_nonzero.html) counts the non-zero values in an array. In a boolean array, this means it counts all `True` values. <br>`True` = 1 and `False` = 0. <br>

More examples found in:
*   [textbook](https://inferentialthinking.com/chapters/09/Randomness.html)
*   [Python Reference](https://www.data8.org/sp22/python-reference.html)

In [ ]:
np.count_nonzero(an_array)

In [16]:
# An array of pets
pets = make_array('cat', 'cat', 'dog', 'cat', 'dog', 'rabbit')

In [ ]:
# Here it checks whether each element in the array is equal (==) to cat
pets == 'cat'

How many cats?

In [ ]:
sum(pets == 'cat')

In [ ]:
# An assignment statement with equality operation
is_cat = pets == 'cat'
is_cat

In [ ]:
is_cat * 2 - 1

In [ ]:
np.count_nonzero(pets == 'dog')

In [ ]:
x = np.arange(20, 31)
x

In [ ]:
x > 28

In [ ]:
sum(x > 28)

## Rows & Apply

In [ ]:
# Read in data table
survey = Table.read_table('welcome_survey_sp22.csv')
survey.show(3)

In [ ]:
# first row
survey.row(0)

In [28]:
example_row = survey.row(0)

In [ ]:
type(example_row)

In [ ]:
example_row.item(0)

Getting data (info in our table) from a row

In [ ]:
example_row.item('Year')

In [ ]:
example_row.item(2)

## Math on Rows

In [ ]:
row2 = survey.select('Extroversion', 'Number of textees', 'Hours of sleep').row(1)
row2

We can apply aggregation functions to that row

In [ ]:
sum(row2)

Recall that if we wanted to **apply** a function to all the rows of a table we use `apply`

In [ ]:
survey.select('Extroversion', 'Number of textees', 'Hours of sleep')

In [ ]:
survey.select('Extroversion', 'Number of textees', 'Hours of sleep').apply(sum)

Let's use this to improve our pivot table

In [ ]:
# .pivot(rows,column)
p = survey.pivot('Sleep position', 'Hours of sleep')
p.show()

Add row totals to the table for the values of sleep positions

In [ ]:
# Add total column to table
p.with_column('Total', p.drop('Hours of sleep').apply(sum))

Why is `Hours of sleep` still in the table?

Do the same thing with a `group` and a `join`:

In [ ]:
p.join('Hours of sleep', survey.group('Hours of sleep')).show()

## Conditional Statements

Conditional statements in python allow us to do different things based on the values in our data

In [40]:
x = 20

If the value of x is greater than or equal to 18 then print 'You can legally vote'

In [ ]:
# What happens if x changes?
if x >= 18:
    print('You can legally vote.')

Notice that if the boolean expression is False then the body of the if statement is not executed:

In [ ]:
print("Can you drink?")

if x >= 21:
    print('You can legally drink.')
    print("This line of code is never run...")
    x = 0

print("This is run")
print("The value of x is", x)

Sometimes you want to do something else if the first statement wasn't true:

In [ ]:
if x >= 21:
    print('You can legally vote and drink.')
else:
    print('You can legally drink milk.')

In [ ]:
if x >= 21:
    print('You can legally vote and drink.')
elif x >= 18:
    print('You can legally vote.')
else:
    print('You can legally drink milk.')

Implementing a function with conditionals and multiple return values:

In [45]:
def age(x):
    if x >= 18:
        return 'You can legally vote.'
    if x >= 21:
        return 'You can legally drink.'

In [46]:
age(3)

In [ ]:
age(20)

In [ ]:
age(25)

In [49]:
# Redefine age
def age(x):
    if x >= 21:
        return 'You can legally vote and drink.'
    elif x >= 18:
        return 'You can legally vote.'
    else:
        return 'You can legally drink milk.'

In [ ]:
age(3)

In [ ]:
age(20)

In [ ]:
age(23)

## Putting the pieces together <br>
Here we will build a function that returns whether the trip was one day or a round trip

In [ ]:
# Bike sharing dataset (already have from above, reminder)
trip = Table().read_table('trip.csv')
trip.show(3)

In [54]:
# Define a function to determine the kind of trip
def trip_kind(start, end):
    if start == end:
        return 'round trip'
    else:
        return 'one way'

In [ ]:
# use apply on rows of our table with our new function
trip.apply(trip_kind, 'Start Station', 'End Station')

In [ ]:
# Add a column of the kind of trip to the table
kinds = trip.with_column('Trip Kind', trip.apply(trip_kind, 'Start Station', 'End Station'))
kinds.show(3)

In [ ]:
# Now create a pivot table
kinds_pivot = kinds.where('Duration', are.below(600)).pivot('Trip Kind', 'Start Station').sort('round trip', descending = True).take(np.arange(10))
kinds_pivot

## Simulation

We will start to use simulation in this class. A key element of simulation is leveraging randomness. The `numpy` python library has many functions for generating random events. Today we will use the [`np.random.choice`](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html) function:

### Random Selection

In [60]:
mornings = make_array('wake up early', 'sleep in')

In [ ]:
np.random.choice(mornings)

In [ ]:
np.random.choice(mornings)

In [ ]:
np.random.choice(mornings)

We can also pass an argument that specifies how many times to make a random choice:

In [ ]:
np.random.choice(mornings, 7)

In [ ]:
morning_week = np.random.choice(mornings, 7)
morning_week

In [ ]:
sum(morning_week == 'wake up early')

In [ ]:
sum(morning_week == 'sleep in')

## Playing a Game of Chance

Let's play a game: we each roll a die.

If my number is bigger: you pay me a dollar.

If they're the same: we do nothing.

If your number is bigger: I pay you a dollar.

Steps:
1. Find a way to simulate two dice rolls.
2. Compute how much money we win/lose based on the result.
3. Do steps 1 and 2 10,000 times.

### Simulating the roll of a die

In [ ]:
die_faces = np.arange(1, 7)
die_faces

In [ ]:
np.random.choice(die_faces)

Implement a function to simulate a single round of play and return the results

In [72]:
def simulate_one_round():
    my_roll = np.random.choice(die_faces)
    your_roll = np.random.choice(die_faces)

...
# finish function

In [ ]:
simulate_one_round()

### Appending Arrays

Sometimes we will want to collect the outcomes of our simulations into a single array. We can do this by appending each experiment to the end of an array using the numpy [`np.append`](https://numpy.org/doc/stable/reference/generated/numpy.append.html) function.

In [80]:
# Setup two arrays
first = np.arange(4)
second = np.arange(10, 17)

In [ ]:
# Add on to the first array
np.append(first, 6)

In [ ]:
# The first array doesn't change
first

In [ ]:
# Make a longer array
np.append(first, second)

In [ ]:
# Again, first doesn't change
first

In [ ]:
# And second doesn't change
second

### Repeated Betting ###

In [93]:
results = make_array()

In [ ]:
results = np.append(results, simulate_one_round())
results

In [ ]:
results = np.append(results, simulate_one_round())
results

## `For` Statements

The for statement is another way to apply code to each element in a list or an array.

In [ ]:
for pet in make_array('cat', 'dog', 'rabbit'):
    print('I love my ' + pet)

In [ ]:
pet = make_array('cat', 'dog', 'rabbit').item(0)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(1)
print('I love my ' + pet)

pet = make_array('cat', 'dog', 'rabbit').item(2)
print('I love my ' + pet)

What is the output of this for loop?

In [ ]:
np.arange(1,4)

In [ ]:
x = 0
for i in np.arange(1,4):
  x = x + i
  print(x)

print('The final value of x is:', x)

Use a for loop to simulate the total outcome of plays of our game of chance:

In [ ]:
np.arange(5)

In [ ]:
game_outcomes = make_array()

for i in np.arange(5):
    game_outcomes = np.append(game_outcomes, simulate_one_round())

game_outcomes

In [ ]:
game_outcomes = make_array()

for i in np.arange(10000):
    game_outcomes = np.append(game_outcomes, simulate_one_round())

game_outcomes

In [ ]:
len(game_outcomes)

In [105]:
results = Table().with_column('My winnings', game_outcomes)

In [ ]:
results

In [ ]:
results.group('My winnings')

In [ ]:
results.group('My winnings').barh('My winnings')

### Another example: simulating heads in 100 coin tosses

In [109]:
# Example coin flip
coin = make_array('heads', 'tails')

In [ ]:
# Use np.random.choice to pick
np.random.choice(coin)

In [ ]:
# Pick multiple times
ten_picks = np.random.choice(coin, 10)
ten_picks

In [ ]:
ten_picks == 'heads'

In [ ]:
sum(ten_picks == 'heads')

In [ ]:
# Count the sum of heads coin flip results in our array
sum(np.random.choice(coin, 10) == 'heads')

In [ ]:
sum(np.random.choice(coin, 100) == 'heads')

In [116]:
# Simulate one outcome

def num_heads():
    return sum(np.random.choice(coin, 100) == 'heads')

In [117]:
# Decide how many times you want to repeat the experiment
repetitions = 10000

In [118]:
# Simulate that many outcomes
outcomes = make_array()

for i in np.arange(repetitions):
    outcomes = np.append(outcomes, num_heads())

In [ ]:
heads = Table().with_column('Heads', outcomes)
heads.hist(bins = np.arange(29.5, 70.6))

## Optional: Advanced `where` ##

Comparing `where` and boolean values

In [ ]:
ages = make_array(16, 22, 18, 15, 19, 15, 16, 21)
age = Table().with_column('Age', ages)

In [ ]:
# preview the age table
age

Use `where` to find `Age` values that are above or equal to the age of 18.

In [ ]:
age.where('Age', are.above_or_equal_to(18))

Repeat the above, but use boolean logic. This means that when you evaluate what the value of `voter` is in the next cell, you get an array of `True` and `False` values.

In [ ]:
voter = ages >= 18
voter

Now we can filter our original `age` table using the `voter` array we made above. Run the cell below and review the output.

In [ ]:
age.where(voter)

Does this make sense? Essentially, you can think about sticking the `voter` array next to our table to match it up with each column. Where there is a `False` entry in our `voter` array, these values did not make it into the output above. Only rows where `voter` array were true were kept.

Here is a new way to use the `where` predicates in a simplified fashion. Notice there is not `where` below, but we are setting `is_voter` equal to the finding whether a value is above or equal to 18.

In [ ]:
is_voter = are.above_or_equal_to(18)

In [ ]:
type(is_voter)

Here you can test out how `is_voter` works:

In [ ]:
is_voter(22)

In [ ]:
is_voter(3)

Essentially, it is testing whether the input you gave it (a number in these cases) is above or equal to 18.

Once this is created, we are able to use it with `apply`. We can `apply` `is_voter` on the `Age` column of our `age` table. We get out an array of boolean values.

In [ ]:
age.apply(is_voter, 'Age')

Review this output array and the one we got above using logical operators: `>=' 18. Here it is again for reference, and written in a slightly different way.

In [ ]:
ages >= 18

Above, we had set the above expression to be equal to `voter`. It exactly matches the output below

In [ ]:
voter

Here is another example. We can define our own function `my_voter_function` to do the above steps.

In [ ]:
def my_voter_function(x):
    return x >= 18

Here is how we usually use `where` in a table to find our conditions of interest.

In [ ]:
age.where('Age', are.above_or_equal_to(18))

Here is an example using our boolean logic when we defined `voter`

In [ ]:
age.where(voter)

Here is the same output using our own `function` in combination with `where`.

In [ ]:
age.where('Age', my_voter_function)

This is demonstrating that although we typically use the same methods of `where` to work with our tables, the datascience package has been created to be flexible in working with the data and combining methods we learn to write code in different ways to achieve the same end result.

## Saving
Remember to save your notebook before closing. Choose **Save** (and make sure you've already saved a copy in your drive) from the **File** menu.